In [3]:
import pandas as pd
col_names=['sl_no','age','gender','role','id']
data=pd.read_table("/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/ex.txt",sep="|",names=col_names)#not sure ahy header=0 is used
data.head()

/home/ila/anaconda3/envs/featurebranch/lib/python3.6/site-packages/ipykernel_launcher.py:3: FutureWarning: read_table is deprecated, use read_csv instead.
  This is separate from the ipykernel package so we can avoid doing imports until

   sl_no  age gender        role     id
0      1   24      M  technician  85711
1      2   53      F       other  94043
2      3   23      M      writer  32067
3      4   24      M  technician  43537
4      5   33      F       other  15213

In [2]:
data[data.age>25]

     sl_no  age gender           role     id
1        2   53      F          other  94043
4        5   33      F          other  15213
5        6   42      M      executive  98101
6        7   57      M  administrator  91344
7        8   36      M  administrator  05201
8        9   29      M        student  01002
9       10   53      M         lawyer  90703
10      11   39      F          other  30329
11      12   28      F          other  06405
12      13   47      M       educator  29206
13      14   45      M      scientist  55106
14      15   49      F       educator  97301
16      17   30      M     programmer  06355
17      18   35      F          other  37212
18      19   40      M      librarian  02138
19      20   42      F      homemaker  95660
20      21   26      M         writer  30068
22      23   30      F         artist  48197
24      25   39      M       engineer  55107
25      26   49      M       engineer  21044
26      27   40      F      librarian  30030
27      28   32      M         writer  55369
28      29   41      M     programmer  94043
31      32   28      F        student  78741
33      34   38      F  administrator  42141
37      38   28      F          other  54467
38      39   41      M  entertainment  01040
39      40   38      M      scientist  27514
40      41   33      M       engineer  80525
41      42   30      M  administrator  17870
..     ...  ...    ...            ...    ...
901    902   45      F         artist  97203
902    903   28      M       educator  20850
904    905   27      M          other  30350
905    906   45      M      librarian  70124
907    908   44      F      librarian  68504
908    909   50      F       educator  53171
909    910   28      M     healthcare  29301
910    911   37      F         writer  53210
911    912   51      M          other  06512
912    913   27      M        student  76201
913    914   44      F          other  08105
914    915   50      M  entertainment  60614
915    916   27      M       engineer  N2L5N
917    918   40      M      scientist  70116
919    920   30      F         artist  90008
921    922   29      F  administrator  21114
923    924   29      M          other  11753
925    926   49      M  entertainment  01701
928    929   44      M      scientist  53711
929    930   28      F      scientist  07310
930    931   60      M       educator  33556
931    932   58      M       educator  06437
932    933   28      M        student  48105
933    934   61      M       engineer  22902
934    935   42      M         doctor  66221
936    937   48      M       educator  98072
937    938   38      F     technician  55038
938    939   26      F        student  33319
939    940   32      M  administrator  02215
941    942   48      F      librarian  78209

[671 rows x 5 columns]