In [19]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
data=pd.read_csv('/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/kaggletrain.txt')
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
feature_cols=['Pclass','Parch']
type(feature_cols)

list

In [21]:
feature_cols

['Pclass', 'Parch']

In [22]:
x=data.loc[:,feature_cols]
x.shape

(891, 2)

In [24]:
y=data.Survived
logreg=LogisticRegression()
logreg.fit(x,y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
test_predict=pd.read_csv("/home/ila/PycharmProjects/pythonworks/artificialintelligence/pandas/files/kaggletest.txt")#no survival comumns
test_predict.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [26]:
x_test=test_predict.loc[:,feature_cols]
x_test.head()

   Pclass  Parch
0       3      0
1       3      0
2       2      0
3       3      0
4       3      1

In [28]:
new_pred_class=logreg.predict(x_test)
new_pred_class

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0,
       1, 1, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0,
       0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0,
       0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1,
       0, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0])

In [29]:
pd.DataFrame({'PassengerId':test_predict.PassengerId,'Survived':new_pred_class}).set_index('PassengerId').to_csv('kagglepredict.csv')

In [39]:
for x,y in zip(test_predict.PassengerId, new_pred_class):
    print(x,y)

892 0
893 0
894 0
895 0
896 0
897 0
898 0
899 0
900 0
901 0
902 0
903 1
904 1
905 0
906 1
907 0
908 0
909 0
910 0
911 0
912 1
913 0
914 1
915 1
916 1
917 0
918 1
919 0
920 1
921 0
922 0
923 0
924 0
925 0
926 1
927 0
928 0
929 0
930 0
931 0
932 0
933 1
934 0
935 0
936 1
937 0
938 1
939 0
940 1
941 0
942 1
943 0
944 0
945 1
946 0
947 0
948 0
949 0
950 0
951 1
952 0
953 0
954 0
955 0
956 1
957 0
958 0
959 1
960 1
961 1
962 0
963 0
964 0
965 1
966 1
967 1
968 0
969 1
970 0
971 0
972 0
973 1
974 1
975 0
976 0
977 0
978 0
979 0
980 0
981 0
982 0
983 0
984 1
985 0
986 1
987 0
988 1
989 0
990 0
991 0
992 1
993 0
994 0
995 0
996 0
997 0
998 0
999 0
1000 0
1001 0
1002 0
1003 0
1004 1
1005 0
1006 1
1007 0
1008 0
1009 0
1010 1
1011 0
1012 0
1013 0
1014 1
1015 0
1016 0
1017 0
1018 0
1019 0
1020 0
1021 0
1022 0
1023 1
1024 0
1025 0
1026 0
1027 0
1028 0
1029 0
1030 0
1031 1
1032 0
1033 1
1034 1
1035 0
1036 1
1037 0
1038 1
1039 0
1040 1
1041 0
1042 1
1043 0
1044 0
1045 0
1046 0
1047 0
1048 1
1049 0
1050 1
1051 0
1052 0
1053 0
1054 0
1055 0
1056 0
1057 0
1058 1
1059 0
1060 1
1061 0
1062 0
1063 0
1064 0
1065 0
1066 1
1067 1
1068 0
1069 1
1070 1
1071 1
1072 0
1073 1
1074 1
1075 0
1076 1
1077 0
1078 0
1079 0
1080 0
1081 0
1082 0
1083 1
1084 0
1085 0
1086 1
1087 0
1088 1
1089 0
1090 0
1091 0
1092 0
1093 0
1094 1
1095 0
1096 0
1097 1
1098 0
1099 0
1100 1
1101 0
1102 0
1103 0
1104 0
1105 0
1106 0
1107 1
1108 0
1109 1
1110 1
1111 0
1112 0
1113 0
1114 0
1115 0
1116 1
1117 0
1118 0
1119 0
1120 0
1121 0
1122 0
1123 1
1124 0
1125 0
1126 1
1127 0
1128 1
1129 0
1130 0
1131 1
1132 1
1133 1
1134 1
1135 0
1136 0
1137 1
1138 0
1139 0
1140 0
1141 0
1142 1
1143 0
1144 1
1145 0
1146 0
1147 0
1148 0
1149 0
1150 0
1151 0
1152 0
1153 0
1154 1
1155 0
1156 0
1157 0
1158 1
1159 0
1160 0
1161 0
1162 1
1163 0
1164 1
1165 0
1166 0
1167 0
1168 0
1169 0
1170 0
1171 0
1172 0
1173 0
1174 0
1175 0
1176 0
1177 0
1178 0
1179 1
1180 0
1181 0
1182 1
1183 0
1184 0
1185 1
1186 0
1187 0
1188 1
1189 0
1190 1
1191 0
1192 0
1193 0
1194 0
1195 0
1196 0
1197 1
1198 1
1199 0
1200 1
1201 0
1202 0
1203 0
1204 0
1205 0
1206 1
1207 0
1208 1
1209 0
1210 0
1211 0
1212 0
1213 0
1214 0
1215 1
1216 1
1217 0
1218 0
1219 1
1220 0
1221 0
1222 1
1223 1
1224 0
1225 0
1226 0
1227 1
1228 0
1229 0
1230 0
1231 0
1232 0
1233 0
1234 1
1235 1
1236 0
1237 0
1238 0
1239 0
1240 0
1241 0
1242 1
1243 0
1244 0
1245 1
1246 0
1247 1
1248 1
1249 0
1250 0
1251 0
1252 0
1253 0
1254 0
1255 0
1256 1
1257 1
1258 0
1259 0
1260 1
1261 0
1262 0
1263 1
1264 1
1265 0
1266 1
1267 1
1268 0
1269 0
1270 1
1271 0
1272 0
1273 0
1274 0
1275 0
1276 0
1277 1
1278 0
1279 0
1280 0
1281 0
1282 1
1283 1
1284 0
1285 0
1286 0
1287 1
1288 0
1289 1
1290 0
1291 0
1292 1
1293 0
1294 1
1295 1
1296 1
1297 0
1298 0
1299 1
1300 0
1301 0
1302 0
1303 1
1304 0
1305 0
1306 1
1307 0
1308 0
1309 0